.signup{
  text-align: center;
  padding: 15px;
  font-size: 25px;
  border-bottom: 2px solid gray;
}

.signupmain{
  .field{
    padding: 10px 50px 10px 500px;
    font-size: 20px;
    .newform{
      width: 300px;
      height: 20px;
      font-size: 15px;
    }
    .numberform{
      width: 150px;
      height: 20px;
      font-size: 15px;
    }
  }
  .actions{
    text-align: center;
    padding: 20px 0 20px 0;
    .signupnew{
      font-size: 20px;
      background-color: rgb(241, 241, 241);
    }
  }
  .loginbtn{
    text-align: center;
    padding-bottom: 30px;
    font-size: 20px;
  }
}