.body{
  background: lightgray;
  padding-top: 50px;
  padding-bottom: 50px;
  .content{
    position: relative;
    width: 960px;
    height: 1000px;
    margin: 0 auto;
    background: $white;
    .new-title{
      margin: 0 auto;
      &__name{
        line-height: 1.5;
        padding: 32px 16px;
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        border-bottom: 2px solid black;
      }
    }
    .container{
      clear: both;
      padding: 0 40px 40px;
      .post{
        margin: 40px 0 0;
        &__name{
          font-size: 14px;
          font-weight: bold;
        }
        &__formtext{
          padding-top: 10px;
          padding-left: 15px;
          padding-bottom: 50px;
          .areatext{
            height: 150px;
            width: 800px;
            font-size: 16px;
          }
        }
        &__formgroup{
          height: 48px;
          width: 620px;
          padding: 1px 16px 50px;
          margin: 8px 0 0;
          .taginput{
            height: 30px;
            width: 800px;
          }
          .selectoption{
            height: 48px;
            width: 100px;
          }
          &__sub{
            text-align:  center;
            height: 50px;
            width: 830px;
            input[type = "submit"]{
              height: px;
              width: 50px;
              font-size: 50px;
            }
          }
        }
      }
    }
  }
}
